@font-face {
  font-family: "微軟正黑體", sans-serif;
 /* font-family: 'cwTeXHei';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype'); */
}

* {
 /* font-family: "cwTeXHei", "微軟正黑體", sans-serif; */
  font-family: "微軟正黑體", sans-serif;
}

html, body {
    height:100%;
    background-size: cover;
    color:#444;
    position: relative;
}


body {
  padding-top: 60px;
}

.anchor {
  padding-top: 60px;
  margin-top: -60px;
}

/* sidebar */
.sidebar {
  display: none;
}

@media (min-width:768px) {
  h1 {
      font-size:68px;
  }
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

a {
  color: #999;
}

a:hover {
    color:#111;
}

/* menu */
.nav .open > a, 
.nav .open > a:focus, 
.nav .open > a:hover {
  background-color:#f44d3c;
  color:#fff;
}

.nav > li > a:hover,
.nav > li > a:focus {
  color: #FFF;
  background-color: #f44d3c;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #FFF;
  background-color: #f44d3c;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  color: #FFF;
  background-color: #f44d3c;
}

.btn,.well,.panel {
  border-radius:0;
}

.btn-danger {
  background-color:#f44d3c;
}

.btn-huge {
  padding:17px 22px;
  font-size:22px;
}

.icon-bar {
  background-color:#fff;
}

.navbar-trans {
  background-color:#2b2b2b;
  color:#cdcdcd;
  border-width:0;
}

.navbar-trans .navbar-brand, .navbar-trans >.container-fluid .navbar-brand {
  padding: 14px;
  color:#f44d3c;
}

.navbar-trans li>a:focus,.navbar-trans li.active {
  background-color:#f44d3c;
  color:rgba(255, 255, 255, 0);
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color:#f44d3c;
  color:#fff;
  /* opacity:0.5; */
}

.navbar-trans a{
    letter-spacing:1px;
}


.navbar-trans .form-control:focus {
  border-color: #eee;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  display: block;
  padding: 7px;
  text-align: center;
  z-index:-1
}

.scroll-up {
  position: fixed;
  display: none;
  z-index: 999;
  bottom: 2em;
  right: 2em;
}

.scroll-up a {
  background-color: rgba(135, 135, 135, 0.5);
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}


section {
  padding-top:70px;  
  padding-bottom:50px;
  min-height:100%;
  min-height:calc(100% - 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@media (min-width:768px) {
  .v-center {
    height: 50%;
    overflow: visible;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
}

footer {
  background-color:#2b2b2b;
  color:#ddd;
  min-height:100px;
  padding-top:20px;
  padding-bottom:54px;
  text-align: right;
}
